<div class="block">
	<div class="content">
		<h2 class="title">Texterstellung - Session Übersicht</h2>
		<div class="inner">
      <table>
        <thead>
          <tr>
            <th>Probanden Code</th>
            <th>erster Text</th>
            <th>zweiter Text</th>
            <th>Länge 1. Text</th>
            <th>Länge 2. Text</th>
            <th>Ergebnisse</th>
            <th>Aktionen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @text_sessions.each do |ts| %>
            <tr>
              <%= form_for ts, :method => :put do |f| %>
                <td><%= f.text_field :user_id, :value => ts.user_id %></td>
                <td><%= f.select :text_1, ts.text_options %></td>
                <td><%= f.select :text_2, ts.text_options %></td>
                <td><%= ts.final_text_1.length unless ts.final_text_1.nil? %></td>
                <td><%= ts.final_text_2.length unless ts.final_text_2.nil? %></td>
                <td><%= link_to( "Ergebnisse", text_session_path(ts) ) if ts.has_results %></td>
                <td><%= f.submit "anpassen" %></td>
              <% end -%>
              <td><%= button_to "löschen", text_session_path(ts) , :method => :delete,
                      :confirm => "Sind Sie sicher?" %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
      <h3>Neue Text Session anlegen</h3>
      <table>
      <%= form_for @text_session_new do |f| %>
        <td><%= f.text_field :user_id %></td>
        <td><%= f.select :text_1, @text_session_new.text_options %></td>
        <td><%= f.select :text_2, @text_session_new.text_options %></td>
        <td><%= f.submit "speichern" %></td>
      <% end -%>
      </table>
		</div> <!-- inner -->
	</div>	<!-- content -->
</div> <!-- block -->

