<div class="block">
	<div class="content">
		<h2 class="title">Texterstellung - Session <%= @text_session.user_id %></h2>
		<div class="inner">
		  <p>Text Session ID: <%= @text_session.id %></p>
		  <p>Text Session Text Option 1 <%= @text_session.text_1 %></p>
		  <p>Text Session Text Option 2 <%= @text_session.text_2 %></p>
		  <p>Text Session Letzte Änderung <%= @text_session.updated_at %></p>
		  <p><%= link_to "Zurück zur Übersicht", text_sessions_path %></p>
		  <hr/>
		  <h3>Text 1</h3>
		  <p><%= @text_session.final_text_1 %></p>
 		  <h3>Key Strokes Text 1</h3>
 		  <% if @key_strokes_text_1.blank? %>
 		    <p>Keine Tastendrücke aufgezeichnet.</p>
 		  <% else %>
        <p><%=raw highlight_regexp(h(@text_session.stroked_text_1), CorrectionCounter.correction_regexp) %></p>
		  <% end %>
		  <h3>Text 1 Template</h3>
		  <%= form_for @text_session do |f| %>
			  <%= f.text_area :personal_template_1,  :size => "80x30" %>
			  <%= f.submit "update" %>
		  <% end %>
		  <hr/>
 		  <h3>Text 2</h3>
		  <p><%= @text_session.final_text_2 %></p>
		  <h3>Key Strokes Text 2</h3>
		  <% if @key_strokes_text_2.blank? %>
 		    <p>Keine Tastendrücke aufgezeichnet.</p>
 		  <% else %>
				<p><%=raw highlight_regexp(h(@text_session.stroked_text_2), CorrectionCounter.correction_regexp) %></p>
			<% end %>
 		  <h3>Text 2 Template</h3>
		  <%= form_for @text_session do |f| %>
			  <%= f.text_area :personal_template_2,  :size => "80x30" %>
			  <%= f.submit "update" %>
		  <% end %>
		</div>
  </div>
</div>

