<div class="block">
  <h2 class="title">Texterfassung abgeschlossen</h2>
	<div class="content">
			<div class="group">
    		<h3> Vielen Dank für Ihre Teilnahme!</h3>
				<p>Ihre Texteingabe wurde gespeichert.</p>
				<hr/>
				<p><%= link_to "Neue Texterfassung starten", pages_start_path %></p>
			</div>
	</div>	
</div>

