<div class="block">
  <h2 class="title">Willkommen zur Texterfassung</h2>
  <div class="content">
    <p>Auf der folgenden Seite finden Sie einen zufällig ausgewählten Text. Ihre Aufgabe ist es diesen so schnell wie möglich, fehlerfrei ab zu tippen. Sie haben dafür 5 Minuten Zeit, danach beendet sich die Eingabe automatisch.</p>
    <p>Abhänig von Ihrer Tippgeschwindigkeit werden Sie den Text nicht vollständig abschreiben können. Der Text ist so gewählt das Sie nur bei sehr hoher Tippgeschwindigkeit fertig werden.</p>
    <p> Sobald Sie bereit sind geben Sie bitte Ihre Probandennummer ein. Der Test startet direkt nach der Eingabe:</p>
    <%= form_tag pages_start_path, :method => :post, :class => "form" %>
    <div class="group">
      <%= label_tag :user_id, "Probandennummer", :class => "label" %>
      <%= text_field_tag :user_id, '' ,:class => "text_field" %>
    </div>
    <div class="group wat-cf">
      <%= button_tag "Test starten", :class => "button" %>
    </div>
  </div> <!-- content -->
</div><!-- block -->
