<% content_for :header do %>
<% end %>
<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title intended">Textvorlage</h2>
      <div id="countdown">
        Countdown
      </div>
      <span class="intended">Bitte schreiben Sie diesen Text möglichst schnell und fehlerfrei ab. Sie haben 5 Minuten für diese Aufgabe Zeit.</span>
      <p class="master"><%= @text_session.texts[@text_session.text_2] %></p>
     </div><!-- inner -->
  </div> <!-- content -->
</div><!-- block -->
<div class="block">
	<div class="content">
		<div class="inner">
			<form id="input_form" class="form" action="<%= pages_write_text_2_path %>" method="post" accept-charset="utf-8">
				<div class="group">
				  <p>&nbsp;</p>
					<label for="input" class="label intended">Abschrift eingeben:</label>
					<textarea class="text_area intended" name="input" cols="80" rows="20" id="input"></textarea>
					<div class="description intended">Bitte geben Sie Ihre Abschrift hier ein und klicken Sie anschließend auf "Text fertiggestellt"</div>
				</div>
				<div class="group navform wat-cf">
				  <button class="button" type="submit">
					  <%= image_tag 'icons/tick.png' %>
					  Text fertiggestellt
				  </button>
        </div>	
				<input type="hidden" name="text_session_id" id="user_id" value="<%= @text_session.id %>"/>
			</form>
			<h3>Messages</h3>
			<p id="message"></p>
		</div>
	</div>	
</div>
