/* Activo 2 by David Francisco (activo.dmfranc.com) - tiny version for web-app-theme */
body {
  color: #111111;
  background: #c4c4c4 url("images/bgd.jpg");
  font-family: "MuseoSans500", helvetica, arial, sans-serif;
}

h1, h2, h3 {
  color: #111111;
  font-weight: normal;
  font-family: "Museo700", helvetica, arial, sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: #111111;
}

a {
  -moz-outline: none;
}

hr {
  background: #dddddd;
  color: #dddddd;
}

#header {
  height: 80px;
  background-color: #333333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
}
#header h1 {
  padding: 15px 5px;
  float: left;
  font-size: 40px;
  font-style: normal;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
  color: white;
}
#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: white;
}

#main {
  width: 77%;
  float: left;
}
#main .block {
  padding-top: 0px;
  background-color: white;
  text-shadow: 0 1px 0 white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}
#main .block .content {
  padding-top: 1px;
}
#main .block .content .inner {
  padding: 0 15px 15px;
}
#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}

#main-navigation {
  padding-top: 30px;
  width: auto;
}
#main-navigation ul li {
  padding-left: 20px;
  margin-right: 0;
}
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  padding: 8px 0;
  text-decoration: none;
  color: #eeeeee;
}
#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #a4a4a4;
}

.secondary-navigation {
  background: #e0e0e0 url("images/boxbar-background.png") top;
  border-bottom-width: 0px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.secondary-navigation li.first a, .secondary-navigation ul li.first {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
  color: #111111;
}
.secondary-navigation ul li.text {
  padding: 10px 15px;
  color: #818171;
}
.secondary-navigation ul li.active {
  background-color: white;
}
.secondary-navigation ul li.active a:hover {
  background-color: white;
}

#user-navigation {
  top: 33px;
  right: 10px;
  color: #eeeeee;
  font-size: 14px;
}

#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #eeeeee;
}
#user-navigation ul li a:active img {
  margin-top: 1px;
}

#user-navigation ul li, .secondary-navigation ul li {
  float: left;
}

#footer {
  color: #261f1f;
  text-shadow: none;
}
#footer .block {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
#footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

#sidebar {
  width: 20%;
  float: right;
}
#sidebar .block {
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
#sidebar .block h4 {
  font-weight: normal;
  font-family: "Museo700", helvetica, arial, sans-serif;
}
#sidebar .notice {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
}
#sidebar .warning {
  padding-left: 10px;
  padding-right: 10px;
  color: #222222;
  background: #ffef4e;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#sidebar h3 {
  padding-left: 25px;
  color: #111111;
  border-bottom: 1px solid #261f1f;
}
#sidebar ul li {
  background-position: 0 11px;
  background-repeat: no-repeat;
  background-image: url("images/arrow.png");
  border-bottom: 1px dashed #777777;
  list-style-type: none;
}
#sidebar ul li a {
  margin-left: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}
#sidebar ul li.active a {
  color: #a4a4a4;
}

.control {
  float: right;
  margin-right: 9px;
  margin-top: 11px;
}

.pagination a, .pagination span {
  border: 1px solid #c3c4ba;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 6px;
  min-width: 15px;
  text-align: center;
  background: #dddddd;
  background-image: url("images/button-background.png");
  color: #111111;
}
.pagination a:hover {
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.pagination span.current {
  background: #261f1f;
  color: white;
  border: 1px solid #261f1f;
}

.pagination a:active {
  background-image: url("images/button-background-active.png");
  outline: none;
}

.table th {
  background: #eaeaea;
  color: #222222;
  font-weight: normal;
}
.table th.last {
  min-width: 90px;
}
.table td {
  border-bottom: 1px solid #eaeaea;
}
.table td.last {
  padding-top: 0px;
  padding-bottom: 0px;
}
.table tr.even {
  background: #f8f8f8;
}

.form label.label {
  font-family: "MuseoSans500", helvetica, arial, sans-serif;
  font-weight: normal;
  color: #666666;
}
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form input.button {
  background: #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #111111;
  font-weight: bold;
  font-size: 11px;
}
.form input.button:hover {
  border: 1px solid #666666;
}
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em;
}
.form .navform a {
  color: #cc0000;
}

.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.flash .message p {
  margin: 8px;
}
.flash .error, .flash .error-list {
  border: 1px solid #993624;
  background: #cc4831 url("images/messages/error.png") no-repeat 10px center;
}
.flash .warning {
  border: 1px solid #bb9004;
  background: #f9c006 url("images/messages/warning.png") no-repeat 10px center;
}
.flash .notice {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("images/messages/notice.png") no-repeat 10px center;
}
.flash .error-list {
  text-align: left;
}
.flash .error-list h2 {
  font-size: 16px;
  text-align: center;
}
.flash .error-list ul {
  padding-left: 22px;
  line-height: 18px;
  list-style-type: square;
  margin-bottom: 15px;
}

ul.list li {
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.list li .item .avatar {
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

#box {
  width: 480px;
}
#box .block {
  background: white;
  text-shadow: 0 1px 0 white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#box .block h2 {
  background: #261f1f;
  color: white;
  text-shadow: none;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

a.button, button.button {
  background: #edeeed url("images/button-background.png") top;
  border: 1px solid #c3c4ba;
  font-family: "MuseoSans500", helvetica, arial, sans-serif;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
  font-weight: normal;
  background: #edeeed url("images/button-background.png") top;
}

a.button:active, button.button:active {
  background: #eaeaea url("images/button-background-active.png") top;
  outline: none;
  margin-top: 1px;
  margin-bottom: -1px;
}

.form div.left {
  width: 10%;
  float: left;
}
.form div.right {
  width: 85%;
  float: right;
}

.login div.left, .signup div div.left {
  width: 21%;
  float: left;
}
.login div.right, .signup div div.right {
  width: 74%;
  float: right;
}
