
#main .block .content p.master {
  font-size: 15px;
  font-family: arial;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

#main .block .content .intended {
  width: 80%;
  position: relative;
  left: 10%;
}

#main .block .content h2.intended {
  margin-left: 0px;
}

#countdown {
  float: right;
  font-size: 16px;
  font-weight: bold;
}

table,td {
    padding: 4px;
    margin: 0px;
    border-collapse: collapse;
}

th {
  padding-left: 2px;
  padding-right: 2px;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
}

td.value {
    font-weight: bold;
}

table.list {
    float: left;
    margin-right: 20px;
    width: 25%;
}

#chart {
    float: right;
    width: 70%;
}

.red {
    color: red;
} 

.green {
    color: green;
}

.group1 {
  background-color: #aaaaff;
}
.group2 {
  background-color: #aaffaa;
}
.group4 {
  background-color: #aaaaaa; 
}

.match {
  background-color: #ffaaaa;  
}