<div class="block">
	<div class="content">
		<h2 class="title">Texterstellung - Auswertung</h2>

		<div class="inner">
          <p>Download as <%= link_to "CSV", reports_path(format: "csv") %></p>
          <table>
            <thead>
              <tr>
                <th>Probanden Code</th>
                <th>Text Order</th>
                <th># u</th>
                <th># s</th>
                <th># corr u</th>
                <th># corr s</th>
                <th># corr u - s</th>
                <th># LS u</th>
                <th># LS s</th>
                <th># LS u - s</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @reports.sort.each do |report| %>
                <tr class="<%= cycle('odd','even') + " " + report.group %>">
                    <td><%= report.text_session.user_id %></td>
                    <td><%= report.text_session.text_order %></th>
                    <td><%= report.key_stroke_count_unstressed %></td>
                    <td><%= report.key_stroke_count_stressed %></td>
                    <td><%= report.correction_count_unstressed %></td>
                    <td><%= report.correction_count_stressed %></td>
                    <% diff = report.correction_count_unstressed - report.correction_count_stressed -%>
                    <td <%=  diff < 0 ? "class=red" : "class=green" %>><%= number_with_precision( diff,:precision => 0) %></td>
                    <td><%= report.levenshtein_distance_unstressed %></td>
                    <td><%= report.levenshtein_distance_stressed %></td>
                    <td <%= report.levenshtein_measure < 0 ? "class=red" : "class=green" %>><%= number_with_precision( report.levenshtein_measure,:precision => 0) %></td>
                    <td><%= link_to "Weitere Reports", report_path(report.text_session.id)%></td>
                    <td><%= link_to "Text Session", text_session_path(report.text_session.id)%></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
		</div> <!-- inner -->
</div> <!-- block -->

