<div class="block">
    <div class="content">
        <h2 class="title">Texterstellung - Auswertung</h2>
        <div class="inner">
            <p><%= link_to "Übersicht", reports_path %></p>
            <p>
                Probanden Code = <%= @report.text_session.user_id %>
            </p>
            <h2>Time Difference List - Unstressed/Stressed</h2>
            <table class="list">
                <thead>
                    <tr>
                        <th>Kombination</th>
                        <th># u</th>
                        <th># s</th>
                        <th>Ø u</th>
                        <th>Ø u</th>
                    </tr>
                </thead>
                <tbody>
                    <% @keys.each do |element| %>
                    <% unless @list_unstressed[element].present? && @list_unstressed[element][:count] > 2 && 
                          @list_stressed[element].present? && @list_stressed[element][:count] > 2 
                          next
                      end
                    %>
                    <tr>
                        
                        <td><%= element.split(",")[0] %> zu <%= element.split(",")[1] %></td>
                        <td><%= @list_unstressed[element].present? ? @list_unstressed[element][:count] : "-"%></td>
                        <td><%= @list_stressed[element].present? ? @list_stressed[element][:count] : "-" %></td>
                        <td><%= @list_unstressed[element].present? ? number_with_precision(@list_unstressed[element][:average], :precision => 2)   : "-"  %></td>
                        <td><%= @list_stressed[element].present? ? number_with_precision(@list_stressed[element][:average], :precision => 2) : "-"  %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <table class="list">
                <thead>
                    <tr>
                        <th>Taste</th>
                        <th># u</th>
                        <th># s</th>
                    </tr>
                </thead>
                <tbody>
                    <% @strokes.each do |stroke| %>
                    <tr>
                        <td><%= stroke[0]%></td>
                        <td><%= stroke[1][:unstressed]%></td>
                        <td><%= stroke[1][:stressed]%></td>
                        <td <%= stroke[1][:unstressed] - stroke[1][:stressed] < 0 ? "class=red" : "class=green" %>>
                            <%= stroke[1][:unstressed] - stroke[1][:stressed] %>
                        </td>
                    </tr>
                    <% end -%>
                </tbody>
            </table>           
            <div id="chart" <%= encode_chart_data(@keys,@list_unstressed,@list_stressed) %> >
            </div>
            <div class="clear">&nbsp;</div>
            <h2>Time Differnece Matrix</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="first"></td>
                        <% @report.accrued_key_strokes(:unstressed).each do |key| %> <td><%= key %></td>
                        <% end %>
                    </tr>
                    <% @report.accrued_key_strokes(:unstressed).each do |row_key| %>
                    <tr>
                        <td class="first"><%= row_key %></td>
                        <% @report.accrued_key_strokes(:unstressed).each do |column_key| %>
                        <% if @matrix[row_key][column_key].present? %> <td class="value"> <%= @matrix[row_key][column_key].count %> -
                            <%= number_with_precision(@matrix[row_key][column_key].sum.to_f / @matrix[row_key][column_key].count, :precision => 0) %> </td>
                        <% else %> 
                            <td>0</td>
                        <% end -%>
                        <% end -%>
                    </tr>
                    <% end -%>
                </tbody>
            </table>
        </div>
        <!-- inner -->
    </div>
    <!-- content -->
</div>
<!-- block -->

