<!DOCTYPE html>
<html>
<head>
  <title>MHA - Textanalyse</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :header %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">MHA - Textanalyse</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="box">
        <%= yield %>
        <div id="footer">
          <div class="block">
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
