<div class="block">
	<div class="content">
		<h2 class="title">Watcher - Übersicht</h2>
		<div class="inner">
				<div class="group">
				  <h3>Der finale Texte</h3>
				  <p><%= @text.finalText %></p>
				  <h3>Die Tastendrücke</h3>
          <table>
            <tr>
              <th>Type</th>
              <th>Tasten Code</th>
              <th>Zeitpunkt</th>
              <th>Modifikator</th>
          </tr>
          <% @strokes.each do |stroke| %>
            <tr>
              <td><%= stroke.type %></td>
              <td><%= stroke.strokedKey %></td>
              <td><%= "#{stroke.timeStamp.sec},#{stroke.timeStamp.usec}" %></td>
              <td><%= if stroke.altKey 
                        "alt " 
                      end
                      if stroke.shiftKey 
                        "shift "
                      end
                      if stroke.ctrlKey 
                        "ctrl"
                      end %></td>
            </tr>
          <% end %>
          </table>
				</div>
			<h3>Messages</h3>
			<p id="message"></p>
		</div>
	</div>	
</div>

