<div class="block">
	<div class="content">
		<h2 class="title">Watcher - Übersicht</h2>
		<div class="inner">
				<div class="group">
          <table>
            <tr>
              <th>User Id</th>
              <th>Textanfang</th>
              <th>Details</th>
              <th>Zeitpunkt</th>
          </tr>
          <% @texts.each do |text| %>
            <tr>
              <td><%= text.userId %></td>
              <td><%= text.finalText[0..120] %></td>
              <td><a href="<%= "/text/#{text.id}" %>">anzeigen</a></td>
              <td><%= text.createDate %></td>
            </tr>
          <% end %>
          </table>
	</div>
	<h3>Messages</h3>
	<p id="message"></p>
	</div>
	</div>	
</div>

